.input__label {
  .addressForm {
    .addressForm__popup {
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 40%;
    }

    .addressForm__postcode {
      width: 130px;
      text-align: center;
      margin-right: 5px;
      cursor: default;
    }

    .addressForm__searchBtn {
      width: 110px;
      line-height: 35px;
      cursor: pointer;
    }

    .addressForm__address {
      width: 130px;
      text-align: left;
      margin-top: 3px;
      padding: 0px 5px;
      cursor: default;
    }

    .addressForm__detailAddress {
      width: 130px;
      text-align: left;
      margin-top: 3px;
      padding: 0px 5px;
      cursor: pointer;
    }
  }
}
