.cart {
  .cart__page-outer {
    padding-left: 70px;
    position: relative;

    .page-outer__page-inner {
      position: relative;
      padding: 35px 0 100px;
      margin: 0 auto;
      width: 960px;

      .page-inner_contents {
        position: relative;
        display: inline-block;
        width: 100%;
        vertical-align: top;
        margin-top: 30px;

        .contents__section-wrap {
          section:nth-child(1) {
            border-bottom: 1px solid #000;
          }

          .section-wrap__title {
            display: inline-block;
            min-height: 30px;
            margin: 10px 0 20px;
            color: #000;
            font-size: 30px;
            line-height: 1.19em;
          }
        }
      }
    }
  }
}
