.cartTable {
  table {
    border: 1px solid #d7d5d5;
    position: relative;
    width: 100%;

    th {
      padding: 11px 0 11px;
      border-left: 0;
      border-bottom: 1px solid #dfdfdf;
      color: #353535;
      vertical-align: middle;
      font-weight: normal;
    }

    tbody {
      text-align: center;

      td {
        padding: 11px 0 10px;
        border-top: 1px solid #dfdfdf;
        color: #353535;
        vertical-align: middle;

        img {
          max-width: 80px;
          vertical-align: middle;
        }
      }

      .product-info {
        padding-left: 10px;

        li {
          margin: 9px 0 0;
          color: #707070;
          line-height: 16px;
        }
      }

      .product-right {
        padding-right: 10px;
      }

      .product-option {
        display: flex;

        .option__quantity {
          display: inline-block;
          position: relative;
          width: 50px;
          vertical-align: top;
          margin: auto;
          transform: translateY(50%);

          input {
            width: 22px;
            height: 19px;
            padding: 0 2px 0 3px;
            border: 1px solid #d4d8d9;
            border-radius: 3px 0 0 3px;
            margin-top: 13px;
          }

          .quantity__increase {
            position: absolute;
            left: 40px;
            top: 8px;
          }

          .quantity__decrease {
            position: absolute;
            left: 40px;
            bottom: 0;
            top: 17px;
          }
        }
      }

      .button {
        a {
          width: 80px;
          margin: 1px 0;
          display: inline-block;
          padding: 2px 8px;
          border: 1px solid transparent;
          border-radius: 2px;
          font-size: 12px;
        }

        .button__order {
          color: #fff;
          background-color: #000;
        }

        .button__order:hover {
          background-color: #43495a;
        }

        .button__remove {
          color: #000;
          background-color: #fff;
          border-color: #d7d7d7;

          .icon-delete {
            position: relative;
            overflow: hidden;
            display: inline-block;
            width: 10px;
            height: 10px;
            margin: -2px 2px 0 0;
            vertical-align: middle;
            transform: rotate(45deg);
          }

          .icon-delete:before {
            content: "";
            position: absolute;
            top: 0px;
            right: 4px;
            width: 2px;
            height: 10px;
            background: #84868b;
          }

          .icon-delete:after {
            content: "";
            position: absolute;
            top: 4px;
            right: 0px;
            width: 10px;
            height: 2px;
            background: #84868b;
          }
        }

        .button__remove:hover {
          color: #fff;
          background-color: #000;
        }
      }
    }
  }
}
