body {
  font-family: "DM Sans", "NanumSquare", sans-serif;
  font-size: 0.75em;
  line-height: 1.65em;
  font-weight: 400;
  color: #3d3d3d;
  background-color: #fff;
  overflow-x: hidden;
}

h2 {
  font-size: 47px;
}

a {
  text-decoration: none;
  color: #111;
  transition: color 0.2s ease-out;
  cursor: pointer;
}

a:hover {
  color: #cccccc;
}

input {
  line-height: 35px;
  padding: 2px 4px;
  border: 1px solid #d5d5d5;
  color: #353535;
  cursor: pointer;
}

input:focus {
  border-color: #111;
  outline: none;
}

input[type="radio"] {
  width: 13px;
  height: 13px;
  border: 0;
}

input[type="radio"] + label {
  margin: 0 4px 0 2px;
}

ul li {
  list-style: none;
}

b,
strong {
  font-weight: bolder;
}
