.orderForm {
  padding-top: 114px;
  width: 100%;
  margin: 0 auto;
  border-left: 1px solid #d7d5d5;
  border-right: 1px solid #d7d5d5;
  box-sizing: border-box;

  .orderForm__recipientInfo {
    .recipientInfo__title {
      padding: 16px 14px;
      display: flex;
      justify-content: space-between;

      h2 {
        font-size: 18px;
        font-weight: bold;
      }
    }

    .recipientInfo__contents {
      margin: 7px 0;
      border-top: 1px solid #eaeaea;

      table {
        width: 100%;

        th {
          font-size: 13px;
          padding: 14px 0 14px 14px;
          text-align: left;
          vertical-align: top;
        }

        td {
          padding: 8px 14px 7px 8px;
          vertical-align: middle;

          input {
            width: 100%;
            padding-right: 0px;
          }

          input[class="phoneNumber"] {
            width: 27%;
          }

          input[class="addressForm__postcode"] {
            width: 15%;
          }

          select {
            width: 100%;
            height: 35px;
          }
        }
      }
    }
  }

  .orderForm__password {
    .password__title {
      padding: 16px 14px;
      display: flex;
      justify-content: space-between;

      h2 {
        font-size: 18px;
        font-weight: bold;
      }
    }

    .password__contents {
      margin: 7px 0;
      border-top: 1px solid #eaeaea;

      table {
        width: 100%;

        th {
          font-size: 13px;
          padding: 14px 0 14px 14px;
          text-align: left;
          vertical-align: top;
        }

        td {
          padding: 8px 14px 7px 8px;
          vertical-align: middle;

          input {
            width: 100%;
            padding-right: 0px;
          }

          input[class="phoneNumber"] {
            width: 27%;
          }

          input[class="addressForm__postcode"] {
            width: 15%;
          }
        }
      }
    }
  }

  .orderForm__product {
    .product__title {
      padding: 16px 14px;
      display: flex;
      justify-content: space-between;

      h2 {
        font-size: 18px;
        font-weight: bold;
      }
    }

    .product__contents {
      padding: 20px 14px 15px;
      border-top: 1px solid #eaeaea;

      .contents__wrap {
        display: flex;

        .wrap__thumbnail {
          width: 110px;
          height: 110px;
          margin-right: 20px;
          border: 1px solid #d7d5d5;

          img {
            width: 100%;
          }
        }

        .wrap__description {
          flex: 1;

          strong {
            display: block;
            margin: 0 0 5px;
          }

          ul {
            margin: 0 0 14px;

            li {
              margin: 0 0 2px;
              font-size: 14px;
              color: #666;
            }
          }
        }
      }
    }
  }

  .orderForm__payment {
    .payment__title {
      padding: 16px 14px;
      display: flex;
      justify-content: space-between;

      h2 {
        font-size: 18px;
        font-weight: bold;
      }
    }

    .payment__contents {
      padding: 14px;
      height: auto;
      border-top: 1px solid #eaeaea;

      .contents__details {
        table {
          width: 100%;
          th {
            font-size: 13px;
            padding: 5px 0 5px 14px;
            text-align: left;
            vertical-align: top;
          }

          td {
            font-size: 13px;
            padding: 5px 14px 5px 0;
            text-align: right;
            vertical-align: top;
          }
        }
      }

      .contents__total {
        display: flex;
        justify-content: space-between;
        padding: 13px 15px;
        font-size: 18px;
        color: #333;
        background: #eff1f4;
      }
    }
  }

  .orderForm__agreement {
    border: 1px solid #d7d5d5;
    border-width: 1px 0;

    .agreement__allAgree {
      padding: 13px 14px 12px;
      border-bottom: 1px solid #eaeaea;
      font-size: 18px;
      color: #333;

      input {
        width: 24px;
        height: 24px;
        cursor: pointer;
        vertical-align: middle;
      }

      label {
        margin: 0 20px 0 7px;
        display: inline-block;
        min-height: 29px;
        line-height: 29px;
        vertical-align: middle;
        cursor: pointer;
      }
    }
  }

  .orderForm__submitBtn {
    margin: 14px 14px 18px;

    button {
      width: 100%;
      line-height: 48px;
      background: #000;
      margin: 0 0 7px;
      font-size: 18px;
      color: #fff;
      cursor: pointer;
    }
  }
}
