.productGuide {
  .productGuide__size {
    float: left;
    width: 30%;
    border-bottom: 1px solid hsl(210, 6%, 79%);
    color: hsl(215, 6%, 57%);
    display: block;
    font-size: 11px;
    font-weight: bold;
    height: 40px;
    line-height: 40px;
    text-align: center;
    text-transform: uppercase;
  }

  .productGuide__nav {
    float: right;
    width: 70%;

    li {
      float: left;
      width: 50%;

      a {
        border-bottom: 1px solid hsl(210, 6%, 79%);
        color: hsl(215, 6%, 57%);
        display: block;
        font-size: 11px;
        font-weight: bold;
        height: 40px;
        line-height: 40px;
        text-align: center;
        text-transform: uppercase;
        width: 100%;
      }

      .nav__tab-active {
        border-bottom-color: #000;
        color: #000;
        cursor: default;
      }
    }
  }

  .productGuide__stage {
    position: relative;
    border-top: 0;
    clear: both;
    margin-bottom: 20px;

    p {
      padding: 20px 0;
      color: hsl(0, 0%, 33%);
      text-align: left;
    }
  }
}
