.productDetail {
  position: relative;
  width: 100%;

  .productDetail__left {
    display: block;
    position: fixed;
    top: 0px;
    left: 80px;
    bottom: auto;
    width: 25%;
    height: 100%;
    padding: 0 0.5% 0 3.5%;
    text-align: left;
    font-size: 13px;

    .left__contents {
      display: table;
      width: 100%;
      height: 100%;
      .contents__box {
        display: table-cell;
        vertical-align: middle;
        .box__name {
          padding-bottom: 10px;

          .name__brandName {
            font-weight: bold;
            text-decoration: underline;
          }

          .name__productName {
            margin-top: 10px;
            font-size: 19px;
            color: #000;
            line-height: 1.27em;
            font-weight: 500;
            margin: 25px 0;
            word-wrap: break-word;
          }
        }

        .box_detail {
          font-weight: 600;
          padding-bottom: 10px;
          width: 83%;
          font-size: 12px;
          text-align: left;
        }
      }
    }
  }

  .productDetail__center {
    width: 50%;
    margin: 0 auto 150px;
    min-height: 1200px;
  }

  .productDetail__right {
    display: block;
    inset: 0px auto auto 1144px;
    width: 24%;
    height: 100%;
    padding: 0 3% 0 0;
  }
}

@media screen and (max-width: 1024px) {
  .productDetail {
    .productDetail__left {
      position: relative;
      left: 0;
      width: auto;
      margin: 0;
      padding: 0 17px;

      .left__contents {
        .contents__box {
          margin: 0 auto;
          .box__name {
            font-size: 20px;
            text-align: center;
          }
          .box__detail {
            max-width: 442px;
            margin: 0 auto 50px;
          }
        }
      }
    }

    .productDetail__center {
      width: auto;
      margin: 0;
      padding: 0 17px;
      display: none;
    }

    .productDetail__right {
      position: relative;
      left: 0;
      width: auto;
      margin: 0;
      padding: 0 17px;

      .right__contents {
        .contents__box {
          margin: 0 auto;
        }
      }
    }
  }
}
