.productOption {
  .productOption__info {
    border: 0;
    font-size: 12px;
    margin: 10px 0 0;
    text-align: left;

    td {
      vertical-align: middle;

      span {
        font-size: 13px;
        color: #000;
      }
    }
  }

  .productOption__size {
    border: 0;
    font-size: 12px;
    margin: 10px 0 0;

    th {
      font-weight: normal;
      color: #353535;
      width: 115px;
      padding: 7px 0 8px 0px;
      text-align: left;
      vertical-align: middle;
    }

    td {
      padding: 4px 0px;
      vertical-align: middle;

      li {
        position: relative;
        display: inline-block;
        margin: 0 5px 3px 0;
        border: 1px solid #d7d7d7;
        background: #fff;
        box-sizing: border-box;
        font: 11px/20px sans-serif;

        a {
          display: block;
          min-width: 28px;
          text-align: center;
          text-decoration: none;
          word-break: break-all;

          span {
            display: inline-block;
            padding: 6px 5px;
            box-sizing: border-box;
          }
        }
      }
    }
  }

  .productOption__selectedOption {
    margin: 21px 0 0;

    .selectedOption__product {
      height: 40px;

      .product__wrap {
        display: flex;

        .wrap__quantity {
          display: inline-block;
          position: relative;
          width: 50px;
          vertical-align: top;

          input {
            width: 22px;
            height: 19px;
            padding: 0 2px 0 3px;
            border: 1px solid #d4d8d9;
            border-radius: 3px 0 0 3px;
          }

          .quantity__increase {
            position: absolute;
            left: 21px;
            top: -3px;
          }

          .quantity__decrease {
            position: absolute;
            left: 21px;
            bottom: 0;
            top: 7px;
          }
        }

        .wrap__delete-img {
          width: 20px;
        }
      }
    }
  }

  .productOption__totalPrice {
    margin: 0;
    padding: 18px 0px 10px;
    border-top: 1px solid #e7e7e7;
    color: #353535;
    vertical-align: middle;
    background: #fff;
    font: 11px/20px sans-serif;

    .totalPrice__total {
      color: #000;
      font-size: 16px;
      font-style: normal;
    }
  }
}

@media screen and (max-width: 1024px) {
  .productOption {
    margin: 0 auto;
  }
}
