.product-list {
  .product-list__page-outer {
    position: relative;
    padding-left: 70px;

    .page-outer__page-inner {
      position: relative;
      padding: 35px 0 100px;

      .page-inner__contents {
        position: relative;
        display: inline-block;
        width: 100%;
        vertical-align: top;

        .contents__section-wrap {
          .section-wrap__title {
            width: 1100px;
            margin: 0 auto;
            padding-top: 20px;

            h4 {
              margin: 25px 0 10px;
              color: #000;
              font-size: 30px;
              font-weight: 500;
              word-wrap: break-word;
              text-transform: uppercase;
            }

            .title__page {
              position: absolute;
              right: 0;
              top: 20px;
            }
          }
          .section-wrap__products {
            width: 1100px;
            margin: 0 auto;
            margin-bottom: -30px;
            .products__filter {
              border-top: 1px solid #000;
              padding-top: 20px;
              margin: 0 0 80px;
              display: flex;
              align-items: center;
              justify-content: space-between;
            }
            .products__item-wrap {
              margin: 0 -15px;
            }
          }
        }
      }
    }
  }
}

@media screen and (min-width: 1440px) {
  .product-list {
    .product-list__page-outer {
      .page-outer__page-inner {
        .page-inner__contents {
          .contents__section-wrap {
            .section-wrap__title {
              width: 1400px;
            }
            .section-wrap__products {
              width: 1400px;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1200px) {
  .product-list {
    .product-list__page-outer {
      .page-outer__page-inner {
        .page-inner__contents {
          .contents__section-wrap {
            .section-wrap__title {
              width: 960px;
            }
            .section-wrap__products {
              width: 960px;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .product-list {
    .product-list__page-outer {
      padding-left: 0px;
      .page-outer__page-inner {
        .page-inner__contents {
          .contents__section-wrap {
            .section-wrap__title {
              width: 768px;
            }
            .section-wrap__products {
              width: 768px;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 800px) {
  .product-list {
    .product-list__page-outer {
      .page-outer__page-inner {
        .page-inner__contents {
          .contents__section-wrap {
            .section-wrap__title {
              width: 86%;
            }
            .section-wrap__products {
              width: 86%;
            }
          }
        }
      }
    }
  }
}
