.productGuide {
  .productGuide__size-popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 820px;
    max-height: 720px;
    border: 1px solid #757575;
    z-index: 100;
    background-color: #fff;

    .size-popup__closeBtn {
      position: absolute;
      top: 13px;
      right: 10px;
      padding: 6px 20px 11px;
      cursor: pointer;

      .closeBtn__wrap {
        position: relative;
        display: block;
        width: 24px;
        height: 24px;

        span {
          position: absolute;
          left: 0;
          height: 4px;
          width: 100%;
        }

        .wrap__line1 {
          top: 9px;
          transform: rotate(45deg);
          background-color: currentColor;
        }

        .wrap__line2 {
          top: 9px;
          transform: rotate(-45deg);
          background-color: currentColor;
        }
      }
    }

    img {
      max-width: 100%;
    }
  }

  .productGuide__size {
    float: left;
    width: 30%;
    border-bottom: 1px solid hsl(210, 6%, 79%);
    color: hsl(215, 6%, 57%);
    display: block;
    font-size: 11px;
    font-weight: bold;
    height: 40px;
    line-height: 40px;
    text-align: center;
    text-transform: uppercase;
  }

  .productGuide__nav {
    float: right;
    width: 70%;

    li {
      float: left;
      width: 50%;

      a {
        border-bottom: 1px solid hsl(210, 6%, 79%);
        color: hsl(215, 6%, 57%);
        display: block;
        font-size: 11px;
        font-weight: bold;
        height: 40px;
        line-height: 40px;
        text-align: center;
        text-transform: uppercase;
        width: 100%;
      }

      .nav__tab-active {
        border-bottom-color: #000;
        color: #000;
        cursor: default;
      }
    }
  }

  .productGuide__stage {
    position: relative;
    border-top: 0;
    clear: both;
    margin-bottom: 20px;

    p {
      padding: 20px 0;
      color: hsl(0, 0%, 33%);
      text-align: left;
    }
  }
}

@media screen and (max-width: 1024px) {
  .productGuide {
    .productGuide__stage {
      padding-bottom: 20px;
    }
  }
}

@media screen and (max-width: 840px) {
  .productGuide {
    .productGuide__size-popup {
      width: 620px;
    }
  }
}

@media screen and (max-width: 640px) {
  .productGuide {
    .productGuide__size-popup {
      width: 490px;
    }
  }
}
